@model RecipeFinderMVC.Models.Auth.RegisterUserVM

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>


<form action="/Auth/Register" method="post">
    <div class="mb-3">
        <label for="Email" class="form-label">@Html.DisplayNameFor(x => x.Email)</label>
        <input type="email" name="Email" id="Email" class="form-control" value="@Model?.Email" />
        <span class="text-danger">@Html.ValidationMessage("Email")</span>
    </div>

    <div class="mb-3">
        <label for="Username" class="form-label">@Html.DisplayNameFor(x => x.Username)</label>
        <input type="text" name="Username" id="Username" class="form-control" value="@Model?.Username" />
        <span class="text-danger">@Html.ValidationMessage("Username")</span>
    </div>

    <div class="mb-3">
        <label for="Password" class="form-label">@Html.DisplayNameFor(x => x.Password)</label>
        <input type="password" name="Password" id="Password" class="form-control" />
        <span class="text-danger">@Html.ValidationMessage("Password")</span>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
