@model RecipeFinderMVC.Models.Categories.CreateCategoryModel

@{
    ViewData["Title"] = "Create Category";
}

<h2>Create Category</h2>

@* @if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@error.ErrorMessage</div>
        }
    </div>
}
 *@

<form action="/Categories/Create" method="post">

    <div class="mb-3">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.ShortCode)
        @Html.TextBoxFor(m => m.ShortCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ShortCode, "", new { @class = "text-danger" })
        @Html.ValidationMessage("Existing Category", "", new { @class = "text-danger" })

    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.IsSeasonal)
        @Html.DropDownListFor(m => m.IsSeasonal,
                new List<SelectListItem>
    {
    new SelectListItem { Text = "Yes", Value = "true" },
    new SelectListItem { Text = "No", Value = "false" }
    },
                "Select Seasonal",
                new { @class = "form-select" })
        @Html.ValidationMessageFor(m => m.IsSeasonal, "", new { @class = "text-danger" })
    </div>

    <div class="row">
        <div class="col-3">
            <input type="submit" value="Create" />
            <a href="/Categories/Index">Back</a>
        </div>
    </div>
</form>
