@model RecipeFinderMVC.Models.Users.EditUserModel
@{
    ViewData["Title"] = "Edit User";
}

<h2>Edit User</h2>

<form asp-action="Edit" asp-controller="Users" method="post">
    @Html.HiddenFor(m => m.Id)

    <div class="grid">
        <div class="row mb-3">
            <div class="col-2">
                <label class="form-label">@Html.DisplayNameFor(m => m.Username)</label>
            </div>
            <div class="col-6">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label class="form-label">@Html.DisplayNameFor(m => m.Role)</label>
            </div>
            <div class="col-6">
                @Html.TextBoxFor(m => m.Role, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Role, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="/Users/Index" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </div
</form>